body {
    margin: 0;
    overflow: hidden;
    background: #111;
}

#clock-grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
    width: 100vw;
    margin: 0;
    gap: 0;
}

.clock-face {
    position: relative;
    margin: 5px;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(50,50,50,0.3);
}
